{% extends "store/base.html" %}

{% block title %}
<title>{{ book.title }} | Library</title>
{% endblock %}

{% block content %}
<h2>Title: {{ book.title }}</h2>

<dl>
    <dt>Genre:</dt>
    <dd>{{ book.genre }}</dd>
    <dt>Author:</dt>
    <dd>{{ book.author }}</dd>
    <dt>Description:</dt>
    <dd>{{ book.description }}</dd>
    <dt>Rating:</dt>
    <dd>{{ book.rating }}</dd>

    <dt>MRP:</dt>
    <dd>Rs. {{ book.mrp }}</dd>
    <dt>Available Copies:</dt>
    <dd>{{ num_available }}</dd>
</dl>
{% if user.is_authenticated %}
<dt>User Rating:</dt>
<dd>
  {% for message in messages|slice:":0" %}
  {{message}}

  {% endfor %}
</dd>
<dt>Edit rating</dt>
<!--<select name="ratingItdrop" id='drop'>
  <option value= "0" >0</option>
  <option value= "1" >1</option>
  <option value= "2" >2</option>
  <option value= "3" >3</option>
  <option value= "4" >4</option>
  <option value= "5" >5</option>
  <option value= "6" >6</option>
  <option value= "7" >7</option>
  <option value= "8" >8</option>
  <option value= "9" >9</option>
  <option value= "10" >10</option>
</select>-->
<input id="ratininpval" type="text" value="0" >
<button type="submit" id="ratSubmit" onclick="">Rate</button><br>
<button class="btn btn-primary" id="loan-button">Loan {{ book.title }}</button>
{% else %}
<b> Login to borrow or Rate Books</b>
{% endif %}
<script>
var sel =document.getElementById('ratininpval');
var res = sel.value;
//console.log(res);

$('#ratSubmit').click(function(sel){
  var sel =document.getElementById('ratininpval');
  var res = sel.value;


  $.ajax({
    url: "{%url 'ratingIt' book.id %}",
    method : "POST",
    data : {
      bid: {{book.id}} ,
      rat: res,
    },
    success: function(data,status,xhr){
        alert(data["message"]);
        location.reload();
    },
    failure: function(xhr,status,err){
        alert(data["message"]);
        location.reload();
    }
  });
}

);

$("#loan-button").click(function(){
    $.ajax({
		url: "{% url 'loan-book' %}",
		method: "POST",
		data: {
			bid: {{ book.id }}
		},
		success: function(data, status, xhr){
			if(data['message'] == "success"){
                alert("Book successfully issued");
                window.location.replace("/books/loaned");
			}
			else{
				alert("Unable to issue this book");
			}
		},
		error: function(xhr, status, err){
			alert("Some error occured");
		}

	})
})
</script>
{% endblock %}
